/* @import url("https://fonts.googleapis.com/css?family=Ubuntu"); */
@font-face {
    font-family:"Whitney";
    src:url(fonts/whitney-medium.otf);
}
@font-face {
    font-family:"Major Mono";
    src:url(fonts/MajorMonoDisplay-Regular.ttf);
}
body {
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    /* font-family:"ubuntu"; */
    font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    background:#DB6786;
    user-select:none;
}
#electron-titlebar {
    position:fixed;
    font-family:"Major Mono";
    font-weight:800;
}
#msgdisplay {
    width:70%;
    max-width:70%;
    word-wrap:break-word;
    height:70%;
    overflow-y: auto;
    position:absolute;
    top:2em;
    right:0;
    /* border:1px solid rgb(66, 66, 66); */
    /* i dont want a border in the end */
    margin:1% 1% 0 0;
}
#msgdisplay > ul { padding-left:1em; user-select:text; }
#msgdisplay > ul > pre {
    white-space:pre-wrap;
    display:inline;
    /*word-break:break-word;*/
}
blockquote {
    border-left:1.5px solid green;
    padding-left:0.5em;
    margin-left:2em;
}
#msgdisplay > ul > p {
    display:block;
    margin-left:2em;
}
#msgdisplay > ul:first-child {
    margin-left:0;
}
img.emoji { height:2em; width:2em; display:inline; }
#msgin {
    position:absolute;
    right:6.3%;
    width:65%;
    height:35px;
    top:80%;
    outline:none;
    background-color:#767DA8;
    border:none;
    border-radius:5px;
}
#msgin:disabled { opacity:0.5; }
.ping { color:#FA9A4B; }
.selfping { color:#FA001A; background:#C5F9FA; }
/* #bs {
    width:100%;
    height:50%;
    padding-left:5em;
    padding-top:2em;
    background-color:#4A4D5D;
} */
#bot-secret { /* text input box for bot secret */
    width:100%;
    position:absolute;
    box-shadow:1px 3px 3px rgba(11, 53, 66, 0.3);
    height:2.5em;
    outline:none;
    border:3px solid #0B3542;
    border-radius:2px;
}
#bs-helper {
    position:absolute;
    top:62%;
    left:27%;
    font-size:12px;
}
.bs-input-container {
    width:50%;
    height:20%;
    position:absolute;
    top:65%;
    left:25%;
}
#cached-btn {
    position:absolute;
    cursor:pointer;
    transform:scale(0.8);
    top:0.26em;
    right:0.5em;
    margin-left:0.5em;
    height:1.5em;
    width:1.5em;
    opacity:0.9;
    transition:transform 0.1s ease, opacity 0.2s linear;
}
#cached-btn:hover { transform:scale(0.9); }
#cached-btn[mode="submit"] { transform:rotate(-90deg) scale(0.9); }
#cached-btn[mode="cached"] { transform:scale(0.9); }
#cached-btn[mode="cached"]:hover { transform:scale(1); }
#bs-btn {
    cursor:pointer;
    padding:4px;
    transform:scale(1);
    transition:transform 0.1s ease;
}
#bs-btn:hover { transform:scale(0.9); }
@keyframes slideOut {
    0% { height:1em; overflow-y:hidden; }
    50% { height:5em; }
    100% { height:10em; overflow-y:scroll; }
}
@keyframes slideIn {
    0% { height:9em; overflow-y:hidden; }
    50% { height:5em; }
    100% { height:0em; overflow-y:scroll; display:none; }
}
#cached::-webkit-scrollbar-thumb { background:transparent; }
#cached {
    margin:1em 2em 0em 2em;
    padding-bottom:1em;
    background:#5D79DE;
    border-radius:2px;
    height:120%;
    overflow-y: auto;
}
@keyframes arrowSlideOut { 100% { margin-left:15em; opacity:0; } }
.tcache {
    font-size:18px;
    cursor:pointer;
    width:fit-content;
    margin:1em 3em 0 3em;
}
.tcache::after {
    content:">";
    font-family:"Major Mono";
    margin-left:0;
    opacity:0;
    transition:margin-left 0.15s ease, opacity 0.1s ease;
}
.tcache:hover {
    font-weight:bold;
}
.tcache:hover::after { margin-left:2em; opacity:1; }
.tcache[state="pending"] { opacity:1; display:block; }
.tcache[state="selected"]::after { opacity:1; animation:arrowSlideOut 0.8s ease; animation-fill-mode: forwards; }
#topt {
    position:absolute;
    bottom:1em;
    z-index:2;
    left:1em;
    width:30px;
    height:30px;
    cursor:pointer;
    transform:rotate(35deg);
    transition:transform 0.4s ease;
}
#topt:hover { transform:rotate(130deg) scale(1.1); }
a {
    outline: none; /* pls dont hurt */
    width:fit-content;
    color:cornflower;
    padding-right:0.5em;
}
a:visited {
    color:lavender;
}
#container {
    /* background: #4A4D5D; */
    width:100%;
    height:100%;
    transition:filter 0.1s ease;
}
/* #userd { position:absolute; bottom:0.2em; right:0.2em; } */
#errout{ color:red; font-size:14px; }
#cscript-list { height:50%; }
.customscript-ul {
  margin-bottom:0.8em;
  width:65%;
  padding:0.5em;
  border:0.5px solid black;
  border-radius:10px;
  background-color:transparent;
  box-shadow:1px 2px 3px black;
}
.customscript-ul > .name { padding:0.4em; display:inline; }
.customscript-ul > .desc { display:inline; }
.customscript-ul > .cs-toggle { cursor:pointer; display:inline; float:right; }
#serverlist {
    position:absolute;
    left:0;
    top:0;
    padding:0.5em;
    height:100%;
    border-right:1px solid #3a3b44;
    overflow-y:auto; /* need to create hella servers and add squorl bot to test this, will be annoying
    hopefully the fucken scrollbar doesnt show tho needa deal with that probably */
}
.serverlist-label {
    color:#787878;
    margin-bottom:1.5em;
    font-size:0.8em;
}
.serverlist-item {
    border-radius:50%;
    width:50px;
    height:50px;
    display:block;
    margin-bottom:25px;
    cursor:pointer;
    transition:border-radius 0.2s ease;
}
div.serverlist-item {
    width:50px;
    height:50px;
    background-color:#4b4b4b;
}
div.serverlist-item > p {
    position:relative;
    top:12.5px;
    left:12.5px;
}
.serverlist-item:hover, .serverlist-active { border-radius:35%; }
#channellist {
    background:#0B3542;
    border-radius:2px;
    width:20%;
    box-shadow:1px 1px 3px rgb(70, 70, 70);
    padding:4px;
    max-width: 15%;
    word-wrap:break-word;
    min-height:65%;
    height:fit-content;
    position:absolute;
    top:3em;
    left:5.25em;
    overflow-y: auto;
}
#textchannels::after {
    content: "text channels";
    font-variant:small-caps;
}
#voicechannels::after {
    content: "voice channels";
    font-variant:small-caps;
}
.vc-users {
    margin-top:0.2em;
    margin-left:1em;
}
.vc-userimg {
    height:1.25em;
    border-radius:50%;
    margin:4px;
}
#vc-mute, #vc-dc { display:inline; }
#vc-dc { height:2em; cursor:pointer; margin-left:0.5em;}
#vc-mute { height:2em; cursor:pointer; }
#voicestate { width:fit-content; position:absolute; right:1em; bottom:1.5em; font-size:14px; background:black; border-radius:4px; padding:1em; }
.channel-triangle {
    /* is little mf triangle */
    position:absolute;
    left:4.75em;
    border-top:0.5em solid transparent;
    border-bottom:0.5em solid transparent;
    border-right:0.5em solid #404040;
}
img { user-select:none; }
#cantviewchannel { position:absolute; left:35%; top:50%; }
#channel-label {
    font-size:1.2em;
    margin-bottom:4px;
    padding:4px;
    color:#AEB2B3;
    padding-bottom:6px;
    border-bottom:2px solid #787b7c;
}
.channel-item {
    font-size:1em;
    margin-bottom:2px;
    color:#525657;
    cursor:pointer;
}
.channel-item:hover { font-weight:bold; }
.channel-item[data-view="false"] { display:none; }
.activechannel {
    font-weight:bold;
    color:rgb(185, 185, 185);
}
.user-avatar { margin-right:1em; border-radius:50%; height:40px; width:40px; display:inline; position:relative; top:15px; }
.user-discrim { color:black; opacity:0.7; font-size:0.75em; margin-left:4px; }
.username-card { display: inline-block; margin-bottom:20px; font-size:1.2em; }
select { width:10em; }
.hoverunderline { cursor:pointer; text-decoration:none; }
.hoverunderline:hover { text-decoration:underline; }
.user-img { width:150px; margin:0 0 1em 1em; border-left:2px solid green; padding-left:4px; display:block; }
.user-video { outline:none; margin-top:0; }
/* #topt { position:absolute; bottom: 0; left:8px; cursor:pointer; padding-bottom:6px; background-color:#4A4D5D; }
#topt:hover {text-decoration:underline;} */
#options-container { position:absolute; top:15%; left:10%; overflow-y:auto; height:100%; width:80%; z-index:1; pointer-events:none; }
#options::-webkit-scrollbar-thumb { opacity:0.3; }
#options { padding:0.5em; background:#60A892; border-radius:8px; position:absolute; top:15%; left:10%; height:100%; width:80%; z-index:2; overflow-y:auto; }
/* #leaveopts { position:absolute; right:0; bottom:0; } */
/* #opt-restore-defaults { position:absolute; bottom:0; right:7em; margin:0.5em; } */
#options>label { margin-left:1em; }
label[for="clearcache"] { color:coral; font-size:14px; margin-left:1em; }
#options input[type="button"] { margin:0.5em; outline:none; border:none; width:fit-content; background:#767DA8; cursor:pointer; border-radius:2px; }
.message-reminder { color:black; font-size:0.7em; opacity:0.8; margin-left:0.5em; cursor:default; }
::-webkit-scrollbar {
  width:10px;
}
::-webkit-scrollbar-track {
  background:transparent;
}
::-webkit-scrollbar-thumb {
  background:#2e3635;
  border-radius:8px;
  opacity:0.85;
}
::-webkit-scrollbar-thumb:hover {
  opacity:1;
}

.statusd { height: 30px; position: relative; border-radius: 50%; bottom: -1em; }
.status-data { position: relative; display:inline-block; width:10em; }
.status-type { font-weight: normal; }
.status-pres {
    font-size: 10px;
    font-weight: 800;
    position: absolute;
    margin: 0;
    margin-left:10px;
}
#userd {
    position: relative;
    left: 5em;
    bottom: 5em;
    top:100%;
    width:fit-content;
    transform: scale(0.8);
    transform: translateY(-200%);
    /* what a hack bruh */
}
.statusn { display: inline; margin-left: 0.5em; font-size: 16px; }
.status-discrim { font-size: 12px; opacity: 0.8; }
em { font-style:oblique; }
strong { font-weight:bold; }