/* @import url("https://fonts.googleapis.com/css?family=Ubuntu"); */
@font-face {
    font-family:"Whitney";
    src:url(fonts/whitney-medium.otf);
}
body {
    width:100%;
    height:100%;
    margin-top:2em;
    padding:0;
    overflow:hidden;
    /* font-family:"ubuntu"; */
    font-family:Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    background:#4A4D5D;
    user-select:none;
}
a { color:cornflower; }
#msgdisplay {
    width:70%;
    max-width:70%;
    word-wrap:break-word;
    height:80%;
    overflow-y: auto;
    position:absolute;
    /* top:2em; */
    top:0;
    right:0;
    border:1px solid rgb(66, 66, 66);
    /* i dont want a border in the end */
    margin:1% 1% 0 0;
}
#msgdisplay > ul { padding-left:1em; user-select:text; }
#msgdisplay > ul > pre {
    white-space:pre-wrap;
    display:inline;
    /*word-break:break-word;*/
}
blockquote {
    border-left:1.5px solid green;
    padding-left:0.5em;
    margin-left:2em;
}
#msgdisplay > ul > p {
    display:block;
    margin-left:2em;
}
#msgdisplay > ul:first-child {
    margin-left:0;
}
#msgdisplay img[alt="emoji"] { display: inline; }
#msgin {
    position:absolute;
    right:6.3%;
    width:65%;
    height:35px;
    top:85%;
    outline:none;
    background-color:#767DA8;
    border:none;
    border-radius:5px;
}
#msgin:disabled { opacity:0.5; }
.ping { color:#FA9A4B; }
.selfping { color:#FA001A; background:#C5F9FA; }
#bs {
    /* width:100%;
    height:50%;
    padding-left:5em;
    padding-top:2em;
    background-color:#4A4D5D; */
}
#bot-secret {
    width:100%;
    position:absolute;
    height:2.5em;
    outline:none;
    border:1px solid #707070;
    border-radius:30px;
    padding-left:0.5em;
}
#bs-helper {
    position:absolute;
    top:60%;
    left:27%;
    font-family:"ubuntu";
}
.bs-input-container {
    width:50%;
    height:20%;
    position:absolute;
    top:65%;
    left:25%;
}
#bs-btn {
    position:absolute;
    cursor:pointer;
    top:0.26em;
    right:0.5em;
    margin-left:0.5em;
    height:1.5em;
    width:1.5em;
}
#cached-btn {
    position:absolute;
    cursor:pointer;
    top:0.5em;
    right:2.5em;
    margin-left:0.5em;
    height:1.2em;
    width:1.2em;
}
#cached {
    margin:3em 2em 0 2em;
    background:rgba(255, 255, 255, 0.5);
    border-radius:2px;
    height:100%;
    overflow-y: auto;
}
.tcache {
    font-size:18px;
    cursor:pointer;
    width:fit-content;
    margin:1em 3em 0 3em;
}
.tcache:hover {
    font-weight:bold;
}
a {
    outline: none; /* pls dont hurt */
    color:cornflower;
}
a:visited {
    color:lavender;
}
.container {
    /* background: #4A4D5D; */
    width:100%;
    height:100%;
}
/* #userd { position:absolute; bottom:0.2em; right:0.2em; } */
#errout{ color:red; font-size:14px; }
.customscript-ul {
  margin-bottom:0.8em;
  width:65%;
  padding:0.5em;
  border:0.5px solid black;
  border-radius:10px;
  background-color:transparent;
  box-shadow:1px 2px 3px black;
}
.customscript-ul > .name { padding:0.4em; display:inline; }
.customscript-ul > .desc { display:inline; }
.customscript-ul > .cs-toggle { cursor:pointer; display:inline; float:right; }
#serverlist {
    position:absolute;
    left:0;
    top:0;
    padding:0.5em;
    height:100%;
    border-right:1px solid #3a3b44;
    overflow-y:auto; /* need to create hella servers and add squorl bot to test this, will be annoying
    hopefully the fucken scrollbar doesnt show tho needa deal with that probably */
}
.serverlist-label {
    color:#787878;
    margin-bottom:1.5em;
}
.serverlist-item {
    border-radius:50%;
    width:50px;
    height:50px;
    display:block;
    margin-bottom:25px;
    cursor:pointer;
    transition:border-radius 0.2s ease;
}
div.serverlist-item {
    width:50px;
    height:50px;
    background-color:#4b4b4b;
}
div.serverlist-item > p {
    position:relative;
    top:12.5px;
    left:12.5px;
}
.serverlist-item:hover, .serverlist-active { border-radius:35%; }
#channellist {
    background:#404040;
    width:15%;
    padding:4px;
    max-width: 15%;
    word-wrap:break-word;
    min-height:65%;
    height:fit-content;
    position:absolute;
    top:3em;
    left:5.25em;
    overflow-y: auto;
}
.channel-triangle {
    /* is little mf triangle */
    position:absolute;
    left:4.75em;
    border-top:0.5em solid transparent;
    border-bottom:0.5em solid transparent;
    border-right:0.5em solid #404040;
}
img { user-select:none; }
.channel-label {
    font-size:1.2em;
    margin-bottom:4px;
    padding:4px;
    padding-bottom:6px;
    border-bottom:1px solid black;
}
.channel-item {
    font-size:1em;
    margin-bottom:2px;
    cursor:pointer;
}
.channel-item:hover { font-weight:bold; }
.activechannel {
    font-weight:bold;
    color:rgb(185, 185, 185);
}
.user-avatar { margin-right:1em; border-radius:50%; height:40px; width:40px; display:inline; position:relative; top:15px; }
.user-discrim { color:black; opacity:0.7; font-size:0.75em; margin-left:4px; }
.username-card { display: inline-block; margin-bottom:20px; font-size:1.2em; }
select { width:10em; }
.hoverunderline { cursor:pointer; text-decoration:none; }
.hoverunderline:hover { text-decoration:underline; }
.user-img { width:150px; margin:0 0 1em 1em; border-left:2px solid green; padding-left:4px; display:block; }
.user-video { outline:none; margin-top:0; }
#topt { position:absolute; bottom: 0; cursor:pointer; padding-bottom:6px; z-index:2; background-color:#4A4D5D; }
#topt:hover {text-decoration:underline;}
#options { width:100%; height:100%; background:#4A4D5D; overflow-y:auto; }
#leaveopts { position:absolute; right:0; bottom:0; }
label[for="clearcache"] { color:coral; font-size:14px; margin-left:1em; }
#options { margin-left:2.5em; margin-top:1em; }
#options input[type="button"] { margin:0.5em; outline:none; border:none; width:fit-content; background:#767DA8; cursor:pointer; border-radius:2px; }
.deleted-reminder { color:black; font-size:0.7em; opacity:0.8; margin-left:0.5em; }
::-webkit-scrollbar {
  width:10px;
}
::-webkit-scrollbar-track {
  background:transparent;
}
::-webkit-scrollbar-thumb {
  background:#2e3635;
  border-radius:8px;
  opacity:0.85;
}
::-webkit-scrollbar-thumb:hover {
  opacity:1;
}

.statusd { height: 50px; position: relative; border-radius: 50%; bottom: -1.5em; }
.status-data { position: relative; display:inline-block; width:10em; }
.status-type { font-weight: normal; }
.status-pres {
    font-size: 12px;
    font-weight: 800;
    position: absolute;
    margin: 0;
    margin-left:10px;
}
#userd {
    position: relative;
    left: 5em;
    bottom: 5em;
    top:100%;
    width:fit-content;
    /* z-index:-2; causes big issues */
    transform: scale(0.8);
    transform: translateY(-200%);
    /* what a hack bruh */
}
.statusn { display: inline; margin-left: 0.5em; font-size: 18px; }
.status-discrim { font-size: 14px; opacity: 0.8; }