body { width:100%; height:100%; overflow:hidden; }

#msgdisplay {
    width:100%;
    height:20em;
    margin:auto;
    overflow-y: auto;
    position:relative;
    bottom:0;
}
.png { color:red; }
input[type="dropdown"] { width:50%; }
#bs { width:25em !important; margin-left:5em; margin-top:2em; }
label[for="bot-secret"], #bot-secret { display:inline; }
#bs-helper { margin-left:5em;margin-top:1em; }
#msgdisplay { border:1px solid grey; margin:0.8em; }
#userd { margin-top:1em; }
#errout{ color:red; font-size:14px; }
#bs-btn { outline: none; position:fixed; margin-left:0.5em; }
#cached { overflow-y:auto; }
select { width:10em; }
.user-img { width:150px; margin-left:1em; border-left:2px solid green; padding-left:4px; }
#topt { float:right; padding:0.5em; cursor:pointer; }
#topt:hover {text-decoration:underline;}
#options { width:100%; height:100%; z-index:69; }
#leaveopts { position:absolute; right:0; bottom:0; }
label[for="clearcache"] { color:coral; font-size:14px; margin-left:1em; }

#options > input[type="button"] {
    margin:0.5em;
    outline:none;
}

.tcache {
    font-size:18px;
    padding:8px;
    padding-right:2em;
    border:1px solid grey;
    cursor:pointer;
    width:fit-content;
    margin:0 3em 0 3em;
    margin-bottom:0.5em;
}