/* body {  } */

#msgdisplay {
    width:20em;
    height:20em;
    margin:auto;
    overflow-y: scroll;
    position:relative;
    bottom:0;
}

.png { color:red; }

input[type="dropdown"]

#bot-secret { width:25em !important; margin-left:5em; }

.tcache {
    font-size:18px;
    padding:8px;
    border:1px solid grey;
    cursor:pointer;
}